.temp-center-wrap
  h1 Promover udlejning af dit sommerhus
  h2 Bestil en specialsyet hjemmeside
  ul
    li Simpel kalender med hvornår sommerhuset er ledigt og udlejet
    li Galleri med billeder af sommerhuset ude og inde
    li Liste over nærliggende attraktioner
    li Google kort med sommerhusets lokation
    li Eget domæne, fuldt ejerskab hjemmesiden og simpelt redigeringssystem

  h2 Kontakt
  p Kontakt web designer Michael Lajlev for at hører mere og få et tilbud. Telefon 6166 6362 eller e-mail&nbsp;
    script.
      gen_mail_to_link('michael','lajlev.dk','Forespørgelse om hjemmeside til Sommerhus')
    | .

