.temp-center-wrap
  h1 Promover udlejning af dit sommerhus
  h2 Bestil en specialsyet hjemmeside
  ul
    li Simple oversigts kalender over hvornår sommerhuset er ledigt og udlejet
    li Galleri med billeder af sommerhuset ude og inde
    li En liste over nærliggende lokale attraktioner
    li Et lækkert kort med sommerhusets lokation
    li Eget domæne, fuldt ejerskab og med redigeringsmuligheder


  p Kontakt Michael Lajlev på telefon 6166 6362 eller på email&nbsp;
    script.
      gen_mail_to_link('michael','lajlev.dk','Forespørgelse om hjemmeside til Sommerhus')
    |  for at høre mere.
