* {
  box-sizing: border-box;
}

html {
  background: url(img/bg.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  font-family: 'Oxygen', sans-serif;
  font-size: 16px;
  font-weight: 400;
  margin: 0;
  padding: 1em;
  color: #222;
}

p {
  line-height: 1.4em;
}

a {
  color: #005d99;
  text-decoration: none;
  font-weight: bold;
  &:hover {
    color: darken(#005d99, 10%);
    text-decoration: none;
  }
}

h1 {
  font-size: 48px;
}

ul {
  padding: 0 0 0 1em;

  li {
    margin-bottom: .5em;
  }
}

.temp-center-wrap {
  padding: 1.5em;
  max-width: 940px;
  margin: 10% auto 0;
  background: rgba(239, 239, 239, .9);
  border-radius: 15px;
}